<div class="alert alert-success" role="alert" *ngIf="adicionado">
	Funcionário <strong>{{ nome }}</strong> adicionado com sucesso !
</div>

<div class="form-group">
	<label>Nome</label> 
	<input type="text" class="form-control"	[(ngModel)]="nome" (focus)="adicionado=false" 
		[appCampoColorido]="'red'" #campo="campoColorido">
</div>

<button type="button" class="btn btn-primary" (click)="adicionar()">Adicionar</button>

<button class="btn btn-info" (click)="campo.colorir()">Colorir</button>

<button class="btn btn-info" (click)="campo.descolorir()">Descolorir</button>