<app-bem-vindo></app-bem-vindo>
<br><br>


<div class="container">
	<h1>Tratamento com PIPE</h1>
	<h1>{{ nome | uppercase}}</h1>
	<h1>{{ dataAniversario | date:'dd/MM/y'}}</h1>
	<h1>{{ preco | number:'1.2-2'}}</h1>
	<h1>{{ troco | currency:'R$' :2 }}</h1>
</div>
<br><br>

<div class="container">
	<h1>Testando diretiva de outro componente</h1>
	<app-funcionario-form (funcionarioCriado)="aoAdicionar($event)"></app-funcionario-form>
		
	<div class="row" style="margin-top: 20px">
		<div class="col-2" *ngFor="let funcionario of funcionarios">
			<app-funcionario-card [funcionario]="funcionario"></app-funcionario-card>
		</div>
	</div>
</div>