<div class="container">
		
	<h1>Validacoes em Formularios</h1>
	<form autocomplete="on" #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
		
			
		<div class="form-group has-danger"
				[class.has-danger]="nome.invalid && nome.touched">
			
			<label class="form-control-label">Nome</label>
			<input type="text" class="form-control form-control-danger" name="nome" [(ngModel)]="cliente.nome" required minlength="3" #nome="ngModel">
		
			<div *ngIf="nome.hasError('required') && nome.touched" class="form-control-feedback">
				Preencha o Nome !
			</div>
			
			<div *ngIf="nome.hasError('minlength') && nome.touched" class="form-control-feedback">
				Nome mínimo 3 caracteres !
			</div>
		</div>
		
		<div class="form-group">
			<label class="form-control-label">E-Mail</label>
			<input type="text" class="form-control" name="email" [(ngModel)]="cliente.email" required email #email="ngModel">
		
		
			<div *ngIf="email.hasError('required') && email.touched" class="alert alert-danger">
				<span>E-mail Obrigatório !</span>
			</div>
			
			<div *ngIf="email.invalid && email.touched && email.value > '1'" class="alert alert-danger"> <!-- touched = campo tocado -->
				<span>E-mail Inválido !</span>
			</div>
		</div>
		
		<!-- pristine = campo intacto -->
		<!-- dirty = campo modificado -->
		
		<div class="form-group">
			<label class="form-control-label">Profissão</label>
			<select class="form-control" name="profissao" [(ngModel)]="cliente.profissao" required #profissao="ngModel">
				<option value="">Selecione</option>
				<option *ngFor="let profissao of profissoes">{{profissao}}</option>
			</select>
		</div>
		
		<div *ngIf="profissao.hasError('required') && profissao.touched" class="alert alert-danger"> <!-- touched = campo tocado -->
			<span>Profissão Obrigatória !</span>
		</div>
	
		<button type="submit" class="btn btn-primary" [disabled]="usuarioForm.invalid">Salvar</button>
	</form>
	
</div>