<div class="card" [ngStyle]="getEstilosCartao()">
	<img class="card-img-top"
		src="http://1.bp.blogspot.com/-X7JEYAiKX84/Uc1Jh-z_ioI/AAAAAAAAFRQ/yYP7AbiWKow/s960/264498_474771812601329_221062024_n.jpg">
	<div class="card-block">
		<span [ngClass]="{ badge: true, 'badge-danger': isAdmin(), 'badge-primary': !isAdmin() }">{{funcionario.nome}}</span>
	</div>
</div>